@import "../bootstrap/scss/bootstrap.scss";

body {
  background-color: #fcd232;
  position: relative;
}
.navbar-toggler {
  border: 0;
}
nav {
  border-bottom: 1px solid #212529;
}
.navbarbrand {
  width: 7%;
  p {
    font-size: 10px;
  }
}

.nv {
  width: 100%;
}
.brand {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
}
.nav-black {
  color: black !important;
  font-weight: bold;
}
.bg-orange {
  background-color: #fcd232;
}
// <!-- ----------------- -->
.section1 {
  height: 80vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-h {
  color: wheat;
  font-size: 10vw;
}
.red {
  color: #ff0000;
}
// --------------------

.active1 {
  background-color: #ad0202 !important;
  color: #212529;
}
.dark-color {
  color: #343a40;
}
.card:hover {
  transform: scale(1.1);
  transition: 300ms;
  box-shadow: none;
}
.card {
  width: 18rem;
  margin: 1.5rem;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}
input::placeholder {
  font-style: italic;
  font-size: 14px;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .card {
    width: 20rem;
  }
}
@media (max-width: 736px) and (min-width: 500px) {
  .card {
    width: 20rem;
  }
}
@media (min-width: 992px) {
  .hover-dark-red:hover {
    background-color: #adadad !important;
    color: #212529;
  }
  .nav-item:hover,
  .navbarbrand:hover{
    transform: scale(1.1);
    transition: 300ms;
  }
}
@media (min-width:992px){
  .border-dark {
    border-right: 1px solid #a9a9a9 !important;
  }
  
}